::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #edebe7;
}

::-webkit-scrollbar-thumb {
    background-color: #272729;
    border: 2px solid #edebe7;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: black;
    border-radius: 100vw;
}

* {
    overflow-x: hidden;
}
